# 単回帰分析を使って、FXのモデル仮説をする

## ０．ライブラリをインポートする

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## １．ヒストリカルデータを読み込む

In [24]:
dfSecond = pd.read_csv('data/EURJPY_2017_all.csv')

In [25]:
dfSecond.head(3)

         Date   Time     Open     High      Low    Close  Volume
0  2017.01.03  00:00  122.719  122.749  122.656  122.670    19.0
1  2017.01.03  00:01  122.650  122.720  122.626  122.626    27.0
2  2017.01.03  00:02  122.676  122.681  122.637  122.681     9.0

In [28]:
# 行数をカウント
len(dfSecond)

371280

In [26]:
# データの行数と列数を表示する
dfSecond.shape

(371280, 7)

In [27]:
# 各値の統計値は？
dfSecond.describe()

,Open,High,Low,Close,Volume
count,371279.000000,371279.00000,371279.000000,371279.000000,371279.000000
mean,126.655996,126.66719,126.644853,126.656010,125.550656
std,5.432699,5.43218,5.433242,5.432722,74.440637
min,114.857000,114.87100,114.845000,114.855000,1.000000
25%,121.802000,121.81500,121.788000,121.802000,72.000000
50%,128.166000,128.17900,128.155000,128.166000,113.000000
75%,132.063000,132.07200,132.053000,132.063000,165.000000
max,135.507000,135.51000,135.482000,135.507000,582.000000

## ２．コードを書いて、一円のアップ／ダウンを抽出する

やること<br>
37万件強の為替データ(dfSecond)の中から、動きがあった場所を抽出する。<br>
一円のアップ／ダウンがあった行だけのデータフレーム(dfMoving)を作る

1. Open列をDecimaiにしたDecOpen列を追加する
2. DecOpenの値を一行前と比較する
3. Movement列を追加し、プラスの変化があれば"up"、マイナスの変化があれば"down"を設定する
4. upまたはdownの行だけを抽出する

暫定対応：ヒストリカルデータの中から、毎6時間ごとのデータを取り出す

### 2.1.Open列をDecimalにしたDecOpen列を追加する

暫定対応：ヒストリカルデータの中から毎6時間毎のデータを取り出し、別のDFにコピーする

In [29]:
# これは、試しにTime列を：で分割したもの
dfSecond['Hur'] = dfSecond['Time'].str.split(':')

In [30]:
# dfHourに新しい列を追加するため、dfをコピーする必要がある。
dfHour = dfSecond[dfSecond['Time'].isin(['00:00', '06:00', '12:00', '18:00'])].copy()
dfHour

,Date,Time,Open,High,Low,Close,Volume,Hur
0,2017.01.03,00:00,122.719,122.749,122.656,122.670,19.0,"[00, 00]"
360,2017.01.03,06:00,123.065,123.072,123.063,123.066,89.0,"[06, 00]"
720,2017.01.03,12:00,122.894,122.898,122.857,122.874,335.0,"[12, 00]"
1080,2017.01.03,18:00,122.562,122.580,122.543,122.564,400.0,"[18, 00]"
1440,2017.01.04,00:00,122.479,122.548,122.416,122.541,17.0,"[00, 00]"
1798,2017.01.04,06:00,122.708,122.730,122.705,122.705,145.0,"[06, 00]"
2158,2017.01.04,12:00,122.835,122.892,122.834,122.866,245.0,"[12, 00]"
2518,2017.01.04,18:00,122.768,122.854,122.749,122.843,318.0,"[18, 00]"
2878,2017.01.05,00:00,122.895,122.918,122.895,122.901,8.0,"[00, 00]"
3237,2017.01.05,06:00,122.536,122.554,122.529,122.553,134.0,"[06, 00]"
3597,2017.01.05,12:00,122.489,122.494,122.481,122.491,214.0,"[12, 00]"
3957,2017.01.05,18:00,122.451,122.493,122.447,122.463,417.0,"[18, 00]"
4317,2017.01.06,00:00,122.305,122.305,122.273,122.279,16.0,"[00, 00]"
4677,2017.01.06,06:00,122.587,122.597,122.579,122.581,114.0,"[06, 00]"
5037,2017.01.06,12:00,122.930,122.940,122.919,122.939,178.0,"[12, 00]"
5397,2017.01.06,18:00,123.155,123.209,123.139,123.169,321.0,"[18, 00]"
5757,2017.01.09,00:00,123.220,123.220,123.219,123.219,5.0,"[00, 00]"
6115,2017.01.09,06:00,123.595,123.595,123.577,123.580,108.0,"[06, 00]"
6475,2017.01.09,12:00,123.187,123.206,123.179,123.188,199.0,"[12, 00]"
6835,2017.01.09,18:00,122.932,122.937,122.883,122.895,358.0,"[18, 00]"
7195,2017.01.10,00:00,122.637,122.675,122.629,122.630,26.0,"[00, 00]"
7555,2017.01.10,06:00,122.446,122.448,122.408,122.424,191.0,"[06, 00]"
7915,2017.01.10,12:00,122.911,122.913,122.886,122.887,148.0,"[12, 00]"
8275,2017.01.10,18:00,122.284,122.284,122.195,122.197,369.0,"[18, 00]"
8635,2017.01.11,00:00,122.150,122.151,122.143,122.144,6.0,"[00, 00]"
8995,2017.01.11,06:00,122.320,122.352,122.319,122.341,169.0,"[06, 00]"
9355,2017.01.11,12:00,122.377,122.387,122.358,122.373,159.0,"[12, 00]"
9715,2017.01.11,18:00,122.102,122.141,122.087,122.136,444.0,"[18, 00]"
10075,2017.01.12,00:00,122.132,122.132,122.045,122.045,21.0,"[00, 00]"
10435,2017.01.12,06:00,121.429,121.443,121.414,121.432,280.0,"[06, 00]"
...,...,...,...,...,...,...,...,...
360487,2017.12.19,12:00,132.949,132.955,132.922,132.922,137.0,"[12, 00]"
360847,2017.12.19,18:00,133.439,133.443,133.406,133.406,325.0,"[18, 00]"
361207,2017.12.20,00:00,133.637,133.647,133.629,133.636,19.0,"[00, 00]"
361566,2017.12.20,06:00,133.798,133.798,133.783,133.784,67.0,"[06, 00]"
361926,2017.12.20,12:00,133.939,133.956,133.937,133.954,118.0,"[12, 00]"
362286,2017.12.20,18:00,134.623,134.672,134.620,134.671,367.0,"[18, 00]"
362646,2017.12.21,00:00,134.598,134.607,134.584,134.599,16.0,"[00, 00]"
363006,2017.12.21,06:00,134.558,134.559,134.545,134.545,61.0,"[06, 00]"
363366,2017.12.21,12:00,134.813,134.813,134.803,134.810,138.0,"[12, 00]"
363726,2017.12.21,18:00,134.573,134.612,134.564,134.600,243.0,"[18, 00]"
364086,2017.12.22,00:00,134.502,134.569,134.502,134.556,22.0,"[00, 00]"
364446,2017.12.22,06:00,134.278,134.279,134.271,134.276,98.0,"[06, 00]"
364806,2017.12.22,12:00,134.282,134.288,134.256,134.258,181.0,"[12, 00]"
365166,2017.12.22,18:00,134.161,134.179,134.155,134.165,162.0,"[18, 00]"
365524,2017.12.26,00:00,134.331,134.364,134.331,134.364,5.0,"[00, 00]"
365882,2017.12.26,06:00,134.478,134.487,134.472,134.485,64.0,"[06, 00]"
366242,2017.12.26,12:00,134.380,134.382,134.356,134.366,70.0,"[12, 00]"
366602,2017.12.26,18:00,134.337,134.345,134.321,134.340,185.0,"[18, 00]"
366962,2017.12.27,00:00,134.270,134.272,134.262,134.262,6.0,"[00, 00]"
367322,2017.12.27,06:00,134.356,134.368,134.356,134.362,99.0,"[06, 00]"
367682,2017.12.27,12:00,134.532,134.548,134.523,134.533,134.0,"[12, 00]"
368042,2017.12.27,18:00,134.754,134.757,134.708,134.725,260.0,"[18, 00]"
368402,2017.12.28,00:00,134.725,134.726,134.535,134.616,71.0,"[00, 00]"
368761,2017.12.28,06:00,134.777,134.785,134.774,134.784,52.0,"[06, 00]"
369121,2017.12.28,12:00,134.704,134.707,134.670,134.680,107.0,"[12, 00]"
369481,2017.12.28,18:00,134.760,134.766,134.731,134.733,191.0,"[18, 00]"
369841,2017.12.29,00:00,134.819,134.819,134.816,134.818,26.0,"[00, 00]"
370201,2017.12.29,06:00,134.688,134.688,134.675,134.679,65.0,"[06, 00]"
370561,2017.12.29,12:00,134.924,134.941,134.922,134.939,106.0,"[12, 00]"
370921,2017.12.29,18:00,135.273,135.304,135.257,135.283,250.0,"[18, 00]"

In [31]:
# numpyのtrunc関数を使って、Open列を整数に切り捨てる
dfHour['DecOpen'] = np.trunc(dfHour['Open'])

### 2.2.DecOpenの値を一行前と比較する

In [32]:
dfHour['diff'] = (dfHour['DecOpen'] - dfHour['DecOpen'].shift(1)).fillna(0)

### 2.3.Movement列を追加し、プラスの変化があれば"up"、マイナスの変化があれば"down"を設定する

In [123]:
dfHour.loc[dfHour['diff'] < 0, 'Movement'] = 'down'
dfHour.loc[dfHour['diff'] > 0, 'Movement'] = 'up'

### 2.4.upまたはdownの行だけを抽出する

In [129]:
dfMovements = dfHour[dfHour['Movement'].isin(['up', 'down'])].copy()

In [130]:
dfMovements.describe()

,Open,High,Low,Close,Volume,DecOpen,diff
count,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000
mean,126.142786,126.161448,126.123060,126.142004,175.044355,125.653226,0.052419
std,5.378069,5.377564,5.378411,5.380393,128.302882,5.414846,1.030543
min,114.951000,114.970000,114.951000,114.965000,2.000000,114.000000,-1.000000
25%,121.193250,121.203500,121.172000,121.191750,48.250000,121.000000,-1.000000
50%,125.038500,125.043000,125.037500,125.038000,169.500000,125.000000,1.000000
75%,131.358750,131.370250,131.315750,131.360000,278.250000,131.000000,1.000000
max,135.273000,135.304000,135.257000,135.283000,482.000000,135.000000,4.000000

## ３．一円の上下があった場所の法則性を見る