# 単回帰分析を使って、FXのモデル仮説をする

## ヒストリカルデータを読み込む

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/EURJPY_2017_all.csv')

In [5]:
df.head(3)

         Date   Time     Open     High      Low    Close  Volume
0  2017.01.03  00:00  122.719  122.749  122.656  122.670    19.0
1  2017.01.03  00:01  122.650  122.720  122.626  122.626    27.0
2  2017.01.03  00:02  122.676  122.681  122.637  122.681     9.0

In [16]:
# 何件のデータが入っているのか？
df.shape

(371280, 7)

In [18]:
# 各値の統計値は？
df.describe()

,Open,High,Low,Close,Volume
count,371279.000000,371279.00000,371279.000000,371279.000000,371279.000000
mean,126.655996,126.66719,126.644853,126.656010,125.550656
std,5.432699,5.43218,5.433242,5.432722,74.440637
min,114.857000,114.87100,114.845000,114.855000,1.000000
25%,121.802000,121.81500,121.788000,121.802000,72.000000
50%,128.166000,128.17900,128.155000,128.166000,113.000000
75%,132.063000,132.07200,132.053000,132.063000,165.000000
max,135.507000,135.51000,135.482000,135.507000,582.000000

In [35]:
# 行/列にアクセスしてみる
df['Low']

0         122.656
1         122.626
2         122.637
3         122.662
4         122.662
5         122.711
6         122.789
7         122.758
8         122.765
9         122.763
10        122.764
11        122.828
12        122.815
13        122.807
14        122.805
15        122.816
16        122.848
17        122.839
18        122.860
19        122.872
20        122.906
21        122.933
22        122.943
23        122.989
24        122.934
25        122.929
26        122.896
27        122.880
28        122.858
29        122.783
           ...
371250    135.167
371251    135.196
371252    135.188
371253    135.191
371254    135.192
371255    135.173
371256    135.183
371257    135.194
371258    135.191
371259    135.197
371260    135.206
371261    135.196
371262    135.187
371263    135.191
371264    135.187
371265    135.196
371266    135.190
371267    135.175
371268    135.145
371269    135.126
371270    135.113
371271    135.125
371272    135.138
371273    135.176
371274    135.182
371275    135.185
371276    135.175
371277    135.150
371278    135.117
371279        NaN
Name: Low, dtype: float64

## コードを書いて、一円のアップ／ダウンを抽出する